.mat-toolbar
  &.mobile
    position absolute
    bottom 0
    z-index 5

  .nav-tool
    margin-left 10px
    margin-right 10px

  .search-field
    width 400px

@media screen and (-webkit-min-device-pixel-ratio: 2)
  .search-field
    width clac(100% - 40px)
