<div
  class="article-header">

  <ng-template
    [cdkPortalOutlet]="article">
  </ng-template>

</div>

<div
  [ngSwitch]="sourceType"
  class="article-body">

  <markdown
    *ngSwitchCase="'md'"
    lineNumber
    [src]="path"
    (error)="error()"
    (load)="loaded()">
  </markdown>

  <pdf-viewer
    *ngSwitchCase="'pdf'"
    [src]="path"
    (after-load-complete)="loaded()"
    (error)="error()">
  </pdf-viewer>

  <ckeditor
    *ngSwitchDefault
    disabled
    [editor]="Editor"
    [data]="data"
    (ready)="loaded()">
  </ckeditor>

</div>
