<div
  class="poker-container"
  [ngStyle]="{ height: tableHeight }">

  <div
    *ngFor="let item of data ; index as index"
    [ngStyle]="{ width: columnWidth, height: rowHeight, 'background-color': columnColor[index] }"
    class="poker-card">

    <div
      class="poker-label">{{ item.label }}
    </div>

    <div
      class="poker-value">

      <span
        *ngIf="item.prefix"
        class="prefix">{{ item.prefix }}
      </span>

      <span
        class="number">{{ item.value }}
      </span>

      <span
        *ngIf="item.suffix"
        class="suffix">{{ item.suffix }}
      </span>

    </div>

    <div
      class="poker-footer"
      [ngStyle]="{ 'background-color': footerColor }">
    </div>

  </div>

</div>
