/* You can add global styles to this file, and also import other style files */
body
  margin 0

.mat-snack-bar-container
  background-color #ffffff

.toolbar-spacer
  flex 1 1 auto

.loading
  position fixed
  margin 0 auto
  top calc(50vh - 118px)
